Django
Markdown
PIL
South
Twisted
Whoosh
demjson
django-authopenid
django-classy-tags
git+git://github.com/jorgebastida/django-dajax.git
git+git://github.com/jorgebastida/django-dajaxice.git
django-haystack
django-helpdesk
django-mptt
django-pagination
django-recaptcha
django-sekizai
django-bootstrap-toolkit
#https://bitbucket.org/slav0nic/djangobb/get/stable.tar.gz
mercurial
postmarkup
python-openid
pytz
sorl-thumbnail
wiki
zope.interface
