{% extends 'wonews/character/default.html' %}
{% include forum_extras %}
{% load dajaxice_templatetags %}
{% load markup %}
{% block titleblock %}{% if character %}{{ character.name }}{% else %}Profiles{% endif %}{% endblock %}
{% block content %}
{% if not character %}
<h1>Not Found</h1>
<p>The character you're seaching for does not exist, or you have not specified one.</p>
{% else %}
<h1>
{% if target.forum_profile.avatar %}
    <img class ="left" alt="" src="{{ target.forum_profile.avatar.url }}" />
{% else %}
    <img class='left' alt="{{character.name}}" src='{{ MEDIA_URL }}images/unlogged.png' />
{% endif %}
Dossier: {{ character.name }}</h1>
{% if user.is_authenticated and not perms.same_player %}
<form method="POST" action="{% url 'mail:compose' %}" >
{% csrf_token %}
<input type="image" src="{{ MEDIA_URL }}images/oldmail.svg" height="23"/>
<input type="hidden" name="to" value="{{ character.name }}, "/>
<input type="hidden" name="subject" value="Subject goes here"/>
<input type="hidden" name="message" value="Type your message here..."/>
</form>
<button id="watching_button" onclick="call_button('watching', '#watching_button', true);"></button>
<button id="hiding_from_button" onclick="call_button('hiding_from', '#hiding_from_button', true);"></button>
<button id="ignoring_button" onclick="call_button('ignoring', '#ignoring_button', true);"></button>
{% endif %}
{% if perms.same_player %}
<br /><a href="{% url 'djangobb:forum_profile_upload_avatar' character.name %}">Change Avatar</a>
{% endif %}
<div class="character_sex_and_species">
<table>
    <tr>
        <td class="profile_key">Sex:</td>
        <td class="profile_value">{{ character.db.sex }}</td>
    </tr>
    <tr>
        <td class="profile_key">Species:</td>
        <td class="profile_value">{{character.db.species }}</td>
    </tr>
</table>
{% if perms.me and character.get_alts %}
    <form method="POST" action="{% url 'character:switch' %}" />
    {% csrf_token %}
    <select name="target">
        {% for alt in character.get_alts %}
            <option>{{ alt.name }}</option>
        {% endfor %}
    </select>
    <input type="Submit" value="Switch Characters" />
    <input type="checkbox" name="login" />Log in
    </form>
{% endif %}
{% if perms.me or perms.staff %}
    <div class="character_stats">
        <table>
            {% for key, value in character.db.stats.items %}
            <tr>
                <td class="profile_key"><img class="character_stat_icon" src="{{ MEDIA_URL }}/images/{{ key }}.png" alt="">{{ key }}:</td>
                <td class="profile_value">{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="character_qualities">
        <table class="character_quality_table">
            {% for key, value in character.db.qualities.items %}
            <tr>
                <td class="quality_key"><span class="quality_key">{{ key }}</span></td>
                <td class="quality_value">{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h2>History</h2>
        {{ character.db.background|markdown:"safe" }}
{% endif %}
<h2>Appearance</h2>
{{ character.db.desc|markdown:"safe" }}
<h2>Role-Play Tags</h2>{% if perms.me or perms.staff %}<button class="show_tag_form" onclick="show_tag_form(true);">Edit</button>{% endif %}
<div class="character_tag_listing">
{% for category, tag_dict in tags.items %}
    <div class="tags_{{category.name}}">
    <h3>{{ category.name }}</h3>
    {% for tag, tag_set in tag_dict.items %}
        {% if tag_set %}
            <span class="tag">
        {% elif perms.me or perms.staff %}
            <span class="tag" style="display: none;">
        {% endif %}
        {% if perms.me or perms.staff %}
            <input class="tag_toggle" type="checkbox" name="tag_check" value="{{tag.id}}" {% if tag_set %}checked{% endif %} style="display: none;" />
        {% endif %}
        {% if tag_set or perms.me or perms.staff %}
        <span class="tag_name">{{ tag.name }}</span><div class="tag_description" style="display: none;">{{ tag.description }}</div></span>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
{% if perms.me or perms.staff %}
    <br />
    <span id="tag_error"></span>
    <button class="save_tags" onclick="show_tag_form(false);save_tags();" style="display:none;">Save</button>
    <div class="spacer"></div>
{% endif %}
</div>
{% endif %}
{% endblock content %}
{% block footer_scripts %}
        <script src="{{ MEDIA_URL }}javascript/qtip.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Converter.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Sanitizer.js"></script>
        <script type="text/javascript">
rp_tags = $('div.character_tag_listing span.tag');
var converter = Markdown.getSanitizingConverter();
for (var i=0;i<rp_tags.length;i++) {
    $(rp_tags[i]).qtip({
        content: converter.makeHtml($(rp_tags[i]).find("div.tag_description").html()),
        show: {
            event:'mouseover',
            solo: true,
        },
        hide: {
            fixed: true,
            delay: 150,
            event: 'mouseleave',
            mouse: false,
        },
        position: {
            corner: {
            target: 'topMiddle',
            tooltip: 'bottomRight'
            },
            adjust: {
                screen: true,
            },
        },
    });
}
</script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
    <script>
    {% if user.is_authenticated %}
    var call_button = function (listname, elementid, toggle) {
        Dajaxice.character.list_toggle(Dajax.process,{'character': '{{character.name}}', 'toggle': toggle, 'listname': listname, 'elementid': elementid});
    }
    call_button('watching', '#watching_button', false);
    call_button('hiding_from', '#hiding_from_button', false);
    call_button('ignoring', '#ignoring_button', false);
    {% endif %}
    {% if perms.me or perms.staff %}
    var show_tag_form = function (toggle) {
        if (toggle) {
            $('.tag').show();
            $('.tag_toggle').show();
            $('.save_tags').show();
            $('.show_tag_form').hide();
        } else {
            $('.save_tags').hide();
            $('.tag').hide();
            $(':checked').each( function() {
                $(this).hide();
                $(this).parent().show();
            });
            $('.show_tag_form').show();
        }
    }
    var save_tags = function () {
        var tag_list = [];
        $('.character_tag_listing :checked').each( function() {
            console.log($(this).next().text());
            tag_list.push($(this).next().text());
        });
        Dajaxice.character.tags_save(Dajax.process,{ 'tag_list' : tag_list, 'character' : '{{character.name}}' });
    }
    {% endif %}
</script>
{% endblock footer_scripts %}
