{% extends 'wonews/character/default.html' %}
{% include forum_extras %}
{% load markup %}
{% block titleblock %}{% if character %}{{ character.name }}{% else %}Profiles{% endif %}{% endblock %}
{% block content %}
{% if not character %}
<h1>Not Found</h1>
<p>The character you're seaching for does not exist, or you have not specified one.</p>
{% else %}
<h1>
{% if target.forum_profile.avatar %}
    <img class ="left" alt="" src="{{ target.forum_profile.avatar.url }}" />
{% else %}
    <img class='left' alt="{{character.name}}" src='/media/images/unlogged.png' />
{% endif %}
Dossier: {{ character.name }}</h1>
<div class="character_sex_and_species">
<table>
    <tr>
        <td class="profile_key">Sex:</td>
        <td class="profile_value">{{ character.db.sex }}</td>
    </tr>
    <tr>
        <td class="profile_key">Species:</td>
        <td class="profile_value">{{character.db.species }}</td>
    </tr>
</table>
</div>
{% if perms.is_alt or perms.same_user or perms.staff %}
    <div class="character_stats">
        <table>
            {% for key, value in character.db.stats.items %}
            <tr>
                <td class="profile_key"><img class="character_stat_icon" src="{{ MEDIA_URL }}/images/{{ key }}.png" alt="">{{ key }}:</td>
                <td class="profile_value">{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="character_qualities">
        <table class="character_quality_table">
            {% for key, value in character.db.qualities.items %}
            <tr>
                <td class="quality_key"><span class="quality_key">{{ key }}</span></td>
                <td class="quality_value">{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h2>History</h2>
        {{ character.db.background|markdown:"safe" }}
{% endif %}
<h2>Appearance</h2>
{{ character.db.desc|markdown:"safe" }}
<h2>Role-Play Tags</h2>
<div class="character_tag_listing">
{% if tags %}
    {% for category, tag_list in tags.items %}
        <div class="tags_{{category.name}}">
        <h3>{{ category.name }}</h3>
        {% for tag in tag_list %}
            <span class="tag">{{ tag.tag.name }}<div class="tag_description" style="display: none;">{{ tag.tag.description }}</div></span>
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    This character has not set any RP Tags.
{% endif %}
</div>
{% endif %}
{% endblock content %}
{% block footer_scripts %}
        <script src="{{ MEDIA_URL }}javascript/qtip.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Converter.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Sanitizer.js"></script>
        <script type="text/javascript">
rp_tags = $('div.character_tag_listing span.tag');
var converter = Markdown.getSanitizingConverter();
for (var i=0;i<rp_tags.length;i++) {
    $(rp_tags[i]).qtip({
        content: converter.makeHtml($(rp_tags[i]).find("div.tag_description").html()),
        show: {
            event:'mouseover',
            solo: true,
        },
        hide: {
            fixed: true,
            delay: 1000,
            event: 'mouseleave',
            mouse: false,
        },
        position: {
            corner: {
            target: 'topMiddle',
            tooltip: 'bottomRight'
            },
            adjust: {
                screen: true,
            },
        },
    });
}
</script>

{% endblock footer_scripts %}
