{% extends 'default.html' %}
{% load markup %}
{% block titleblock %}Character Activation{% endblock %}
{% block oasis_content %}
{% if activated %}
<h1>Activated</h1>
<p>Your character has been activated, and you have automatically been signed in.</p>
{% elif user.is_active %}
<h1>Already Activated</h1>
<p>This character has already been activated. Go play!</p>
{% else %}
<h1>Activation Failed</h1>
<p>The activation for this character failed. This could be caused by a problem with the activation key, or this character may have already been actiavated.</p>
{% endif %}
{% endblock content %}
