{% extends 'default.html' %}
{% load dajaxice_templatetags forum_extras %}
{% block titleblock %}
 {{ character.name }}
{% endblock %}
{% block oasis_content %}
{% include "profile/header.html" %}
{% include "profile/private_details.html" %}
{% include "profile/public_info.html" %}
{% endblock oasis_content %}
{% block footer_scripts %}
        <script src="{{ MEDIA_URL }}javascript/qtip.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Converter.js"></script>
        <script src="{{ MEDIA_URL }}javascript/Markdown.Sanitizer.js"></script>
        <script type="text/javascript">
rp_tags = $('div.character_tag_listing span.tag');
var converter = Markdown.getSanitizingConverter();
for (var i=0;i<rp_tags.length;i++) {
    $(rp_tags[i]).qtip({
        content: converter.makeHtml($(rp_tags[i]).find("div.tag_description").html()),
        show: {
            event:'mouseover',
            solo: true,
        },
        hide: {
            fixed: true,
            delay: 150,
            event: 'mouseleave',
            mouse: false,
        },
        position: {
            corner: {
            target: 'topMiddle',
            tooltip: 'bottomRight'
            },
            adjust: {
                screen: true,
            },
        },
    });
}
</script>
    <script>
    {% if user.is_authenticated %}
    var call_button = function (listname, elementid, toggle) {
        Dajaxice.character.list_toggle(Dajax.process,{'character': '{{character.name}}', 'toggle': toggle, 'listname': listname, 'elementid': elementid});
    }
    call_button('watching', '#watching_button', false);
    call_button('hiding_from', '#hiding_from_button', false);
    call_button('ignoring', '#ignoring_button', false);
    {% endif %}
    {% if perms.me or perms.staff %}
    var show_tag_form = function (toggle) {
        if (toggle) {
            $('.tag').show();
            $('.tag_toggle').show();
            $('.save_tags').show();
            $('.show_tag_form').hide();
        } else {
            $('.save_tags').hide();
            $('.tag').hide();
            $(':checked').each( function() {
                $(this).hide();
                $(this).parent().show();
            });
            $('.show_tag_form').show();
        }
    }
    var save_tags = function () {
        var tag_list = [];
        $('.character_tag_listing :checked').each( function() {
            console.log($(this).next().text());
            tag_list.push($(this).next().text());
        });
        Dajaxice.character.tags_save(Dajax.process,{ 'tag_list' : tag_list, 'character' : '{{character.name}}' });
    }
    {% endif %}
</script>
{% endblock footer_scripts %}
