{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block content %}
<div class="linkst">
	<div class="inbox">
		{% if forum %}
		<ul class="breadcrumb"><li><a href="{% url 'djangobb:index' %}">{% trans "Root" %}</a><span class="divider">/</span></li><li>{% link forum %}</li></ul>
		{% else %}
			<ul class="breadcrumb"><li><a href="{% url 'djangobb:index' %}">{% trans "Root" %}</a><span class="divider">/</span></li><li>{% link topic.forum %}</li><li>{{ topic }}</li></ul>
		{% endif %}
		<div class="clearer"></div>
	</div>
</div>
{% include "djangobb_forum/includes/post_form.html" %}
{% endblock %}
