{% extends 'wonews/base.html' %}
{% load forum_extras %}

{% block content %}
<h1>Upload Avatar</h1>
    <form id="upload_avatar" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.avatar.errors }}
	<strong>{{ form.avatar.label }}</strong><br />
	{{ form.avatar }}
	<p>An avatar is a small image that will be displayed under your username in your posts. It must not be any bigger than {{ avatar_width }} x {{ avatar_height }} pixels</p>
        <input type="submit" name="upload" value="Upload" /><a href="javascript:history.go(-1)">Go back</a></p>
    </form>
{% endblock %}
