/* Main background and vignetting */
body {
    background-image:url('../images/border_left.png'),
                     url('../images/border_right.png'),
                     url('../images/border_top.png'),
                     url('../images/natural_paper.png');
    background-repeat:no-repeat, no-repeat, no-repeat, repeat;
    /* background-attachment:fixed; */
    background-size:50px 100%, 50px 100%, 100% 50px, auto auto;
    background-position:left, right, top;
    margin: 0;
    padding: 0;
}
/* Top bar. Vignetting has to be repeated here due to Z issues. */
#header {
    background-image: url('../images/header.png');
    background-repeat: repeat-x;
    background-position: top;
    background-size: auto auto;
    box-shadow: 0px 10px 15px #000;
    font-family: 'Belgrano', serif;
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#footer {
    background-image:url('../images/border_left.png'),
                     url('../images/border_right.png'),
                     url('../images/border_bottom.png'),
                     url('../images/header.png');
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
    background-position:left, right, bottom, top;
    background-size:50px 100%, 50px 100%, 100% 50px, auto auto;
    box-shadow: 0px -3px 15px 15px #000;
    height: 70px;
    width: 100%;
    /* overflow: auto; */
    position: fixed;
    bottom: 0px;

}

#footer img.avatar {
    background-image:url('../images/avatarframe.png');
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}

#authlinks {
    position: absolute;
    bottom: 3px;
    left: 80px;
    padding-bottom: 0px;
    margin: 0px;
}

#sidebar {
    width: 1px;
    position: fixed;
    margin-top: 50px;
    margin-left: 0px;
    z-index: 2;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 0px;
}

/* Gives headers a nice little 'paper' background with a drop shadow. */
h1.main span {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #DDDDDD;
    width: auto;
    text-shadow: 2px 2px 2px #000;
    box-shadow: 0px 5px 7px #000;
    background-image:url('../images/heading_backdrop.png');
}

/* Gives headers a nice little 'paper' background with a drop shadow. */
h2.main span {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #DDDDDD;
    width: auto;
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0px 5px 7px #000;
    background-image:url('../images/heading_backdrop.png');
}

#header form.client_link {
    display: inline;
}

/* Used for the search bar. */
#header form.search-header {
    position:fixed;
    top: 9px !important;
    right: 10px;
    border: 0px;
    color: #000000;
    font-family: 'Belgrano', serif;
    font-size: 12pt;
    margin: 0px;
}

#footer form {
    position:fixed;
    bottom: 2px;
    color: #000000;
    font-family: 'Belgrano', serif;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
}

#header input {
    background-color: #b98d47;
    border: 0px;
    color: #111111;
    font-size: 100%;
    font-family: 'Belgrano', serif;
    font-weight: normal;
    padding: 0px;
    border-radius: 0px;
    vertical-align: default;
    width: 10em;
    float: right;
}

#footer input {
    background-color: #b98d47;
    border: 0px;
    color: #111111;
    font-family: 'Belgrano', serif;
    font-size: 100%;
    font-weight: normal;
    padding: 0px;
    border-radius: 0px;
    width: 10em;
    margin-bottom: 0px;
}

img.mail {
    height: 23px;
}

form.login {
    position: relative;
    bottom: 0px;
}

/* Navigation list. Handles the positioning of the top navbar. */
ul.wonav {
    margin:0;
    padding:0;
    position: fixed;
    display: inline;
    float: left;
    top: 7px;
    left: 10px;
}

ul.wonav img {
    float: right;
}

ul.wonav li {
    display: inline;
    position: relative;
    line-height: default !important;
    margin-right: 10px;
}

span.bar {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: #111111;
    width: auto;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #DDD;
    box-shadow: 0px 0px 7px #000;
    background-image:url('../images/goldbar.png');
}

span.bar a:link {
    text-decoration:none;
    color: #111111;
}

span.bar a:visited {
    text-decoration:none;
    color: #111111;
}

#sidebar li {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: #111111;
    width: 5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #DDD;
    box-shadow: 0px 0px 7px #000;
    background-image:url('../images/goldbar.png');
}

#sidebar a:link {
    text-decoration:none;
    color: #111111;
}

#sidebar a:visited {
    text-decoration:none;
    color: #111111;
}


/* Main div, contains site content. */
#main {
    font-family: 'Belgrano', serif;
    background-image:url('../images/redox.png');
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: #111111;
    box-shadow: 0px 5px 10px 5px #000;
}

/* Style applied to all images in the main area. */
#main img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #DDDDDD;
    width: auto;
    background-image:url('../images/heading_backdrop.png');
}

/* Style applied to images in the main area aligned left */
#main img.left {
    box-shadow: 5px 5px 7px #000;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
}

#main input {
    background-color: #555555;
    color: #FFFFFF;
}

#main a:link {
    color: #111111;
}

#main a:visited {
    color: #555555;
}

/* Adds the torn paper borders */
#container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 70px;
    position: relative;
    background-position:left, right;
    background-repeat: repeat-y;
    z-index:0;
    height: 100%;
}

div.branding {
    font-size: 8pt;
    text-align: center;
    display: block;
}

/* Special classes for forms */
span.form_error ul {
    color: #FF0000;
}

table.form_entry td.form_label {
    text-decoration: bold;
    min-width: 15em;
}

/* This is mostly for scrollable text like the AUP */
div.scrollable_text {
    overflow-y: scroll;
    width: 100%;
    height: 15em;
    box-shadow: 0px 5px 10px 0px #000;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* For Character Profiles */
div.character_stats {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.character_qualities {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.character_sec_and_species {
    margin-top: 1em;
    margin-bottom: 1em;
}

table.character_quality_table {
    border: 1em;
}

span.quality_key {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: #111111;
    display: block;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #DDD;
    box-shadow: 0px 0px 7px #000;
    background-image:url('../images/goldbar.png');
}
td.quality_key {
    padding-top: 1em;
}
td.quality_value {
    padding-top: 1em;
    padding-left: 1em;
}

td.profile_value {
    padding-left: 1em;
}

#main img.character_stat_icon {
    background-image: none;
    padding-right: .5em;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.character_tag_listing div {
    line-height: 2em;
}
div.character_tag_listing span.tag {
    background-color: #E0EAF1;
    color: #3E6D8E;
    padding: 3px;
    border-right: 1px solid #2E5D7E;
    border-bottom: 1px solid #2E5D7E;
    white-space: nowrap;
}

div.spacer {
    margin-top: 2em;
    margin-bottom: 2em;
}

div.player_listing {
    background: #ffc526; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffc526 0%, #997000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffc526), color-stop(100%,#997000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffc526 0%,#997000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffc526 0%,#997000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffc526 0%,#997000 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffc526 0%,#997000 100%); /* W3C */
    min-height: 4.25em;
    min-width: 15em;
    border: 1px;
    border-style:outset;
    border-width:5px;
    display: inline-block;
    padding-right: 0.25em;
    border-color: #997000;
    margin-right: 2em;
    margin-bottom: 1em;
}

div.player_listing img {
    background-image: none !important;
    float: left !important;
    padding-left: 0.25em !important;
    padding-right: 0.25em !important;
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}

div.player_listing span.name {
    font-weight: bold;
    font-size: 2em;
}

div.status {
    background-color: #cccccc;
    padding: 1em;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
