/* Main background and vignetting */
body {
    background-image:url('../images/border_left.png'),
                     url('../images/border_right.png'),
                     url('../images/border_top.png'),
                     url('../images/natural_paper.png');
    background-repeat:no-repeat, no-repeat, no-repeat, repeat;
    /* background-attachment:fixed; */
    background-size:50px 100%, 50px 100%, 100% 50px, auto auto;
    background-position:left, right, top;
    margin: 0;
    padding: 0;
}
/* Top bar. Vignetting has to be repeated here due to Z issues. */
#header {
    background-image: url('../images/header.png');
    background-repeat: repeat-x;
    background-position: top;
    background-size: auto auto;
    box-shadow: 0px 10px 15px #000;
    font-family: 'Belgrano', serif;
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#footer {
    background-image:url('../images/border_left.png'),
                     url('../images/border_right.png'),
                     url('../images/border_bottom.png'),
                     url('../images/header.png');
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
    background-position:left, right, bottom, top;
    background-size:50px 100%, 50px 100%, 100% 50px, auto auto;
    box-shadow: 0px -3px 15px 15px #000;
    height: 70px;
    width: 100%;
    /* overflow: auto; */
    position: fixed;
    bottom: 0px;

}

#footer img.avatar {
    background-image:url('../images/avatarframe.png');
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}

#authlinks {
    position: absolute;
    bottom: 3px;
    left: 80px;
    padding-bottom: 0px;
    margin: 0px;
}

#sidebar {
    width: 1px;
    position: fixed;
    margin-top: 50px;
    margin-left: 0px;
    z-index: 2;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 0px;
}

/* Deals with images placed directly in the header. */
#header img {
    position: absolute;
}

/* Gives headers a nice little 'paper' background with a drop shadow. */
h1.main span {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #DDDDDD;
    width: auto;
    text-shadow: 2px 2px 2px #000;
    box-shadow: 0px 5px 7px #000;
    background-image:url('../images/heading_backdrop.png');
}

/* Gives headers a nice little 'paper' background with a drop shadow. */
h2.main span {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #DDDDDD;
    width: auto;
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0px 5px 7px #000;
    background-image:url('../images/heading_backdrop.png');
}

/* Used for the search bar. */
#header form {
    position:fixed;
    top: 9px !important;
    right: 10px;
    border: 0px;
    color: #000000;
    font-family: 'Belgrano', serif;
    font-size: 12pt;
    margin: 0px;
}

#footer form {
    position:fixed;
    bottom: 2px;
    color: #000000;
    font-family: 'Belgrano', serif;
    font-size: 12pt;
    margin: 0px;
}

#header input {
    background-color: #b98d47;
    border: 0px;
    color: #111111;
    font-size: 100%;
    font-family: 'Belgrano', serif;
    font-weight: normal;
    padding: 0px;
    border-radius: 0px;
    vertical-align: default;
    width: 10em;
}

#footer input {
    background-color: #b98d47;
    border: 0px;
    color: #111111;
    font-family: 'Belgrano', serif;
    font-size: 100%;
    font-weight: normal;
    padding: 0px;
    border-radius: 0px;
    width: 10em;
    margin-bottom: 0px;
}


form.login {
    position: relative;
    bottom: 0px;
}

/* Navigation list. Handles the positioning of the top navbar. */
ul.wonav {
    margin:0;
    padding:0;
    position: absolute;
    display: inline;
    float: left;
    top: 7px;
    left: 10px;
}

ul.wonav li {
    display: inline;
    position: relative;
    line-height: default !important;
    margin-right: 10px;
}

span.bar {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: #111111;
    width: auto;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #DDD;
    box-shadow: 0px 0px 7px #000;
    background-image:url('../images/goldbar.png');
}

span.bar a:link {
    text-decoration:none;
    color: #111111;
}

span.bar a:visited {
    text-decoration:none;
    color: #111111;
}

#sidebar li {
    font-family: 'Belgrano', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: #111111;
    width: 5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #DDD;
    box-shadow: 0px 0px 7px #000;
    background-image:url('../images/goldbar.png');
}

#sidebar a:link {
    text-decoration:none;
    color: #111111;
}

#sidebar a:visited {
    text-decoration:none;
    color: #111111;
}


/* Main div, contains site content. */
#main {
    font-family: 'Belgrano', serif;
    background-image:url('../images/redox.png');
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: #111111;
    box-shadow: 0px 5px 10px 5px #000;
}

/* Style applied to all images in the main area. */
#main img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #DDDDDD;
    width: auto;
    background-image:url('../images/heading_backdrop.png');
}

/* Style applied to images in the main area aligned left */
#main img.left {
    box-shadow: 5px 5px 7px #000;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
}

#main input {
    background-color: #555555;
    color: #FFFFFF;
}

#main a:link {
    color: #111111;
}

#main a:visited {
    color: #555555;
}

/* Adds the torn paper borders */
#container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    background-position:left, right;
    background-repeat: repeat-y;
    z-index:0;
    height: 100%;
    padding-bottom: 70px;
}

div.branding {
    font-size: 8pt;
    text-align: center;
    padding-top: 50px;
}

/* Special classes for forms */
span.form_error ul {
    color: #FF0000;
}

table.form_entry td.form_label {
    text-decoration: bold;
    min-width: 15em;
}

/* This is mostly for scrollable text like the AUP */
div.scrollable_text {
    overflow-y: scroll;
    width: 100%;
    height: 15em;
    box-shadow: 0px 5px 10px 0px #000;
    margin-top: 2em;
    margin-bottom: 2em;
}
