{% extends "wonews/base.html" %}
{% block content %}
    {% block wiki_body %}
    
    <div class="container" style="margin-top: 60px;">

      {% if messages %}
        <!-- Messages for this instance -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <!-- Reserved for breadcrumbs -->
      {% block wiki_breadcrumbs %}{% endblock %}
      
      <!-- Main page contents go here -->
      {% block wiki_contents %}{% endblock %}
      
    </div> <!-- /container -->

    {% endblock %}

{% endblock %}

{% block footer_scripts %}
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
{% endblock %}
