<h2>Role-Play Tags</h2>
<hr />
{% if perms.me or perms.staff %}
 <button class="show_tag_form btn" onclick="show_tag_form(true);">Edit</button>
{% endif %}
<div class="character_tag_listing">
 {% for category, tag_dict in tags.items %}
 <div class="tags">
  <h3>{{ category }}</h3>
   {% for key, value in tag_dict.items %}
    {% if perms.me or perms.staff %}
     <span class="tag" {% if not value %}style="display: none;"{% endif %}>
     <input class="tag_toggle" type="checkbox" name="tag_check" value="{{key.id}}" {% if value %}checked{% endif %} style="display: none;" />
    {% else %}
     <span class="tag">
    {% endif %}
    {% if perms.me or perms.staff %}
     <span class="label">{{ key.db_key }}</span><div class="tag_description" style="display: none;">{{ key.db_data }}</div></span>
    {% endif %}
   {% endfor %}
 </div>
 {% endfor %}
 {% if perms.me or perms.staff %}
  <br />
  <span id="tag_error"></span>
  <button class="save_tags btn btn-primary" onclick="show_tag_form(false);save_tags();" style="display:none;">Save</button>
  <div class="spacer"></div>
 {% endif %}
</div>