{% load forum_extras %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>{{game_name}} - {% if flatpage %}{{flatpage.title}}{% else %}{% block titleblock %}{{page_title}}{% endblock %}{% endif %}</title>
{% include 'wonews/styles.html' %}
    </head>
    <body>
{% include 'wonews/header.html' %}
        <div id='sidebar'>
        {% block sidebar %}
        {% endblock %}
        </div>
        <div id='container'>
            <div id='main'>
                {% block content %}
                {% endblock %}
                <div class="branding">
                    Winter's Oasis is a <a href='http://www.vulpinetheory.net'>Vulpine Theory Project.</a> Vulpine Theory is a subsidiary of <a href='http://www.kelketek.com'>Kelketek Enterprises LLC</a>
                </div>
            </div>
        </div>
{% include 'wonews/footer.html' %}
    </body>
</html>
