{% load forum_extras bootstrap_toolkit %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>{{game_name}} - {% if flatpage %}{{flatpage.title}}{% else %}{% block titleblock %}{{page_title}}{% endblock %}{% endif %}</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/wonews.css">
    {% block extra_styles %}{% endblock extra_styles %}
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.js"></script>
    {% bootstrap_javascript_tag %}
    <script>
      $(function() {
          // Setup drop down menu
          $('.dropdown-toggle').dropdown();
 
          // Fix input element click problem
          $('.dropdown input, .dropdown label').click(function(e) {
              e.stopPropagation();
          });
      });
    </script>
  </head>
  <body>
{% include 'header.html' %}
<div class="container">
    {% bootstrap_messages %}
     {% block oasis_content %}{% endblock %}

{% block footer_scripts %}{% endblock footer_scripts %}
<footer class="span12">
<hr />
<img src="{{ MEDIA_URL }}images/foxlogo.svg" class="pull-right vtlogo" />
<p class="footer-text">Winter's Oasis is a <a href="http://www.vulpinetheory.net">Vulpine Theory</a> project.<br />
Vulpine Theory is a Division of Kelketek Enterprises, LLC.</p>
</footer>
</div>
  </body>
</html>
