{% load bootstrap_toolkit %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Winter's Oasis</a>
            <ul class="nav">
                <li><a href='{% url "index" %}'>Home</a></li>
                <li><a href='{% url "wiki:root" %}'>Read up on the game</a></li>
                <li><a href='{% url "djangobb:index" %}'>Play on the forums</a></li>
                <li><a href='{% url "webclient:client" %}'>Play in real time!</a></li>
                <li><a href='{% url "roster:new" %}'>Register</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <form class="form-inline" action="{% url "login" %}" method="POST">
                    {% csrf_token %}
                    {{ login_form|as_bootstrap }}
                   <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                   <input type="hidden" name="next" value="{{ next|default:request.get_full_path}}" />
                  </form>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>
