        <div id='header'>
                <ul class="wonav">
                    <li><span class='bar'><a href='/'>Home</a></span></li>
                    <li><span class='bar'><a href='/wiki/'>Read up on the game</a></span></li>
                    <li><span class='bar'><a href='/forum/'>Play on the forums</a></span></li>
                    <li><span class='bar'><a href='/webclient/'>Play in real time!</a></span></li>
                </ul>
                <form class="search-header" method="get" action="dummy.html">
                    <input type="text" name="query" class="search-header-query" placeholder="Search..." />
                </form>
        </div>
