{% extends "base.html" %}
{% block content %}
      <h1 class="main">
          <span>Welcome!</span>
      </h1>
      <p>Welcome to your new installation of <a href="http://evennia.com">Evennia</a>, your friendly
      neighborhood next-generation MUD development system and server. You are looking at Evennia's web
      presence, which can be expanded to a full-fledged site as
      needed. Through the <a href="/admin">admin interface</a> you can view and edit the
      database without logging into the game.
        {% if webclient_enabled %}
        You can also connect to the game directly from your browser using our
        <a href='/webclient'>online client</a>!<br></br>
        {% endif %}
      For more info, take your time to
      peruse our extensive online <a href="http://code.google.com/p/evennia/wiki/Index">documentation</a>.
      <p>
      Should you have any questions, concerns, bug reports, or
      if you want to help out, don't hesitate to join the Evennia community to make your voice heard! Drop a mail to the
      <a href="http://evennia.com/discussions">mailing list</a> or to come say hi in the <a href="http://webchat.freenode.net/?channels=evennia">developer chatroom</a>. If you find bugs, please report them to our <a href="http://code.google.com/p/evennia/issues/list">Issue tracker</a>.
      </p>
      <pre class="brush: python">
#!/usr/bin/env python
"""
An example program quoted for code style.
"""
import stuff

this = "Cool"
if stuff.check_cool(this):
    print "Hello, world!"
else
    print "Not cool, man."
</pre>
{% endblock %}
