        <link rel='stylesheet' type='text/css' href='/media/css/wonews-main.css' />
        <link rel='stylesheet' type='text/css' href='/media/css/syntax/styles/shThemeDefault.css' />
        <link rel='stylesheet' type='text/css' href='/media/css/syntax/styles/shCore.css' />
        <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css' /> 
        <script src="/media/javascript/jquery.js"></script>
        <script src="/media/javascript/wonews.js"></script>
        <script src="/media/javascript/syntax/src/shCore.js"></script>
        <script src="/media/javascript/syntax/scripts/shBrushPython.js"></script>
        <script src="/media/javascript/syntax/scripts/shBrushSql.js"></script>
        <script src="/media/javascript/syntax/scripts/shBrushCss.js"></script>
        <script src="/media/javascript/syntax/scripts/shBrushJScript.js"></script>
        <script src="/media/javascript/syntax/scripts/shBrushXml.js"></script>
        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
