        <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/wonews-main.css' />
        <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/syntax/styles/shThemeDefault.css' />
        <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/syntax/styles/shCore.css' />
        <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css' /> 
        <script src="{{ MEDIA_URL }}javascript/jquery.js"></script>
        <script src="{{ MEDIA_URL }}javascript/wonews.js"></script>
